
GOOGLE_API_KEY=your_youtube_api_key_here
GOOGLE_API_URL=https://www.googleapis.com/youtube/v3/channels
GOOGLE_YT_PLAYLIST_ITEMS_URL=https://www.googleapis.com/youtube/v3/playlistItems
GOOGLE_YT_VIDEOS_URL=https://www.googleapis.com/youtube/v3/videos
GOOGLE_OAUTH_CLIENT_FILE=/path/to/client_secret.json
GOOGLE_YT_SUBS_URL=https://www.googleapis.com/youtube/v3/subscriptions
